<div [hidden]="!tableHidden">
  <div class="card my-5">
    <div class="card-body _scrollmenu">
      <button type="button" class="btn btn-primary" (click)="showForm()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      <label>Tìm kiếm: <input type="text" [(ngModel)]="query" /></label>

      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <!-- <th scope="col"></th> -->
            <th scope="col">STT</th>
            <th scope="col">Tên tài khoản</th>
            <th scope="col">Tên đầy đủ</th>
            <th scope="col">Phòng ban</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Người tạo</th>
            <th scope="col">Hành động</th>
          </tr>
          <tr
            class="active-row"
            *ngFor="
              let d of dataUser
                | searchfilter: query
                | paginate: { itemsPerPage: 4, currentPage: p };
              let i = index
            "
          >
            <td>{{ (p + 1) * 4 + i + 1 - 8 }}</td>
            <td>{{ d.username }}</td>
            <td>{{ d.fullname }}</td>
            <td>{{ d.userDepartment }}</td>
            <td>{{ d.roles }}</td>
            <td>{{ d.createBy }}</td>
            <td class="text-center">
              <button
                *ngIf="d.roles != 'ROLE_ADMIN'"
                (click)="deleteUser(d.id)"
              >
                <i class="fa fa-trash-o" style="font-size: 25px"></i>
              </button>
              <!-- <button (click)="staticModal.show()"> -->
              <button>
                <i
                  class="fa fa-pencil-square-o"
                  aria-hidden="true"
                  style="font-size: 25px"
                ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      previousLabel="Trước"
      nextLabel="Sau"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>

  <!-- Form Chỉnh sửa phòng ban -->
  <div
    class="modal fade"
    bsModal
    #staticModal="bs-modal"
    [config]="{ backdrop: 'static' }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-static-name"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Chỉnh sửa mượn trả</h3>
        </div>
        <div class="modal-body">
          <div class="_editModal col-md-9">
            <form>
              <fieldset>
                <div class="row">
                  <div class="form-group col">
                    <label for="Name"
                      ><span class="req">* </span> Loại thiết bị:
                    </label>
                  </div>

                  <div class="form-group col">
                    <label for="Name"
                      ><span class="req">* </span> Người / Phòng ban mượn:
                    </label>
                    <!-- <p>{{statesComplex[0].id == groupSelected}}</p> -->
                    <!-- <p>{{dpUser | json}}</p> -->
                    <div class="custom-typeahead">
                      <!-- <div *ngIf="dp.name !== dpUser" class="alert alert-danger">
                        Cần nhập chính xác theo mẫu không thì chương trình sẽ bị lỗi
                    </div> -->
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col">
                    <label class="col-form-label" for="date-input"
                      >Ngày mượn</label
                    >
                    <div></div>
                  </div>

                  <div class="form-group col">
                    <label class="col-form-label" for="date-input"
                      >Ngày trả</label
                    >
                    <div></div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col">
                    <label for="website">Status:</label>
                    <div></div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="textarea-input"
                    >Lý do mượn</label
                  >
                  <div class="col-md-9"></div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="modal-body _actionModel">
          <button
            type="button"
            class="btn btn-primary"
            (click)="staticModal.hide()"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="staticModal.hide()"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form Thêm phòng ban -->
<div class="container _editForm" [hidden]="!formHidden">
  <div class="col-md-9">
    <form (keydown.enter)="$event.preventDefault()">
      <p>Tạo tài khoản cho nhân viên</p>
      <fieldset>
        <div class="row">
          <div class="col form-group">
            <label for="Name"><span class="req">* </span>Tên đăng nhập</label>
            <input
              [(ngModel)]="user.username"
              required
              type="text"
              name="username"
              class="form-control phone"
              placeholder="Nhập username để tạo mới..."
            />
          </div>

          <div class="col form-group">
            <label for="Name"><span class="req">* </span>Mật khẩu </label>
            <input
              [(ngModel)]="user.password"
              required
              type="text"
              name="pass"
              class="form-control phone"
              placeholder="Nhập mật khẩu tạo mới..."
            />
          </div>
        </div>

        <div class="row">
          <div class="col form-group">
            <label for="Name"
              ><span class="req">* </span> Phòng ban của nhân viên
            </label>
            <!-- <p>{{statesComplex[0].id == groupSelected}}</p> -->
            <!-- <p>{{dpUser | json}}</p> -->
            <div class="custom-typeahead">
              <input
                required
                [(ngModel)]="dpUser"
                [ngModelOptions]="{ standalone: true }"
                [typeahead]="dp"
                typeaheadOptionField="dp.name"
                typeaheadGroupField="dp.region"
                class="form-control"
                value="{{ dpUser }}"
                placeholder="Tìm kiếm phòng ban nhân viên ..."
              />
            </div>
          </div>

          <div class="col form-group">
            <label for="Name"><span class="req">* </span>Quyền hạn </label>
            <select
              [(ngModel)]="defaultRole.type"
              class="form-control"
              name="role"
            >
              <option *ngFor="let r of roles" [(ngValue)]="r.id">
                {{ r.nameRole }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="Name"
            ><span class="req">* </span>Tên đầy đủ của nhân viên</label
          >
          <input
            [(ngModel)]="user.fullname"
            required
            type="text"
            name="fullname"
            class="form-control phone"
            placeholder="Nhập tên đầy đủ nhân viên..."
          />
        </div>

        <div class="form-group action">
          <input
            class="btn btn-success"
            type="submit"
            name="submit_reg"
            value="Save"
            (click)="createUser()"
          />
          <input
            class="btn btn-success"
            type="submit"
            name="submit_reg"
            value="Cancel"
            (click)="cancelForm()"
          />
        </div>
      </fieldset>
    </form>
    <!-- </div>-->
  </div>
</div>
