<div class="imagelogin">
<div class="col-md-12 login">
  <div class="card card-container">
    <img id="profile-img" src="assets/img/brand/sygnet.svg" class="profile-img-card" />
    <form [formGroup]="changePasswordFormGroup" novalidate (ngSubmit)="onChangePassword()">
      <div class="form-group">
        <label for="email">Nhập mật khẩu</label>
        <input type="password" class="form-control"placeholder="Password" formControlName="password" /><br />
        <div class="alert alert-danger" role="alert" *ngIf="
            changePasswordFormGroup.get('password').invalid &&
            changePasswordFormGroup.touched
          ">
          Cần độ dài lớn hơn 6
        </div>
      </div>

      <div class="form-group">
        <label for="email">Nhập lại mật khẩu</label>

        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" /><br />
        <div class="alert alert-danger" role="alert" *ngIf="
            changePasswordFormGroup.get('password').value !=
            changePasswordFormGroup.get('confirmPassword').value
          ">
          Xác nhận mật khẩu không chính xác
        </div>
      </div>
      <input class="btn btn-success _centera" type="submit" value="Xác nhận" [disabled]="
          changePasswordFormGroup.get('password').value !=
          changePasswordFormGroup.get('confirmPassword').value
        " />
    </form>
  </div>
</div>
</div>
